[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
transformers = {extras = ["torch"] }
pdoc3 = "*"
python-dev-tools = "*"
pandas = "*"
bertopic = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
